body{
    background-color: rgba(47,47,47,0.98);
    color: #fdf9f9;
}


.menu{
    background-color: rgb(36, 27, 27);
    color: beige;
    display: flex;
    gap: 700px;
    align-items: center;
}

.navigation{
    display: flex;
}
nav ul a{
    list-style: none;
    padding: 10px;
    gap: 30px;
    list-style: none;
    color: #fff;
    text-decoration: none;
}
*{
    padding: 0;
    margin: 0;
}
.menu span{
    padding: 10px;
    margin: 10px;
    color: white;
    gap: 30px;
}
img{
    margin-right: auto;
    margin-left: auto;
}

.box{
    display: flex;
    padding: 2rem 0;
    align-items: center;
    flex-direction: column;
    background-color: rgb(43, 42, 43);
}


.box-children{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(43, 42, 43);
}

.box-children div{
    margin-top: 15px;
    margin-bottom: 15px;
}

.box-children1 a{
    border-radius: 10px;
    padding: 2px 3px;
    margin: 2px;
    border: 2px solid red;
    color: #fff;
}

.box-children p{
    margin-top: 15px;
    margin-bottom: 15px;
}

.box-children span{
    margin-top: 15px;
    margin-bottom: 15px;
}

.box-children1 .btn-1 {
    border-radius: 15px;
    padding: 3px 8px;
    border: 2px solid red;
    color: #fff;
    background-color: rgb(19, 19, 38);
}

.box-children1 .btn-2 {
    border-radius: 10px;
    padding: 3px 8px;
    width: 50px;
    border: none;
    background-color: red;
}

.btn-2 i {
    color: #fff;
}

.box1{
    text-align: center;
    justify-content: center;
}

.box2-children{
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;
}

.box2-children h5{
    color: red;
    margin-top: 50px;
}

.box1 h2{
    margin-top: 15px;
}

.box1 p{
    margin-top: 15px;
    color: #808080;
}

.boder{
    text-align: center;
}

.box3 th{
    color: red;
}


footer{
    background-color: rgb(36, 27, 27);
    color: #fff;
    text-align: center;
}

.box4 {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.box4 div{
    border: 3px solid;
    padding: 15px;
    background-color: rgb(43, 42, 43);
    border: none;
}

.box4 i{
    color: red;
    gap: 10px;
}

.box4 h2{
    margin-top: 10px;
}

.box4 p{
    margin-top: 10px;
}

.box5{
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.box5 div{
    border: solid;
    padding: 15px;
    background-color: rgb(43, 42, 43);
    border: none;
}

.box5 i{
    color: red;
}

.box5 h2{
    margin-top: 10px;
}

.box5 p{
    margin-top: 10px;
}

form{
    margin-top: 30px;
    text-align: center;
    align-items: center;
}

form label{
    border: solid;
    background-color: rgb(43, 42, 43);
}
